#error {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  margin: 0 5px;
  color: red;
  border: 1px solid #ea6868;
  background-color: #ffdadb;
  border-radius: 3px;
  padding: 5px;
  max-width: 100%;
}

#error svg {
  font-size: 1.2rem;
}
